SUBSYSTEMS=="usb", ACTION=="add", ATTRS{idVendor}=="2e5a", ATTRS{idProduct}=="2015", SYMLINK+="button", TAG+="systemd", ENV{SYSTEMD_USER_WANTS}="the-button.service", MODE="0660", TAG+="uaccess"
